# -------------- Backend --------------

NODE_ENV=development
BACKEND_PORT=8000

# database connection
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@postgres:5432/your_database_name

JWT_SECRET=your_jwt_secret_key

AI_API_KEY=your_openai_key



# -------------- Frontend --------------
NEXT_PUBLIC_API_URL=your_backend_url
FRONTEND_PORT=3000